@font-face {
  font-family: KyivType;
  font-weight: 500;
  src: url("assets/font/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Medium-.otf") format("opentype");
}
*{
 
  box-sizing: border-box;

}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(60deg, #2E5B3B, #515439);

}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #333; */
  color: white;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: background 0.3s;
      margin: 0 10px;
      border-radius: 5px;
}

nav a:hover {
  background-color: #97979784;
}

/* Sections */
section {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}

/* Home Section */
#home {
  /* background-color: #f0f0f0; */
}

/* Other Sections */
#about,
#blogs,
#contact,
#skills,
#projects {
  /* background-color: #ddd; */
}

/* Additional styling can be added to customize the appearance of each section */

/* heading */
.heading{
  margin: 0 auto;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.heading > h1{
  font-family: KyivType;
  font-size: 9rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #8FDCC2;
}
.heading > p{
  /* font-family: KyivType; */
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: start;
  color: #ffffff;
}

/* <!-- About Section --> */
.container-second{
  /* background-color: #000; */
  height: 100vh;
  width: 100vw;
  /* flex-direction: column; */
  display: flex;
  align-items: center;
  padding: 0 10%;
  /* justify-content: space-between; */
  /* align-content: center; */


}


.container-second .first-box{
  
  height: 50vh;
  border-radius: 40px; 
  flex: 2;
  margin-right: 1%;
}

.container-second  .second-box{
  flex: 3.5;
  height: 50vh; 
  border-radius: 40px; 
  margin-left: 1%;

}
.container-second .first-box, .container-second  .second-box{
  background-color: aqua;
  /* color: #000000; */

  padding:  3% 3% 0 0;

}



.text{
  /* padding-right: 100px; */
  /* height: 100px; */
  /* width: 100%; */
  /* background-color: #00754e; */
  display:  flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
.container-second .first-box .text h3,.container-second .second-box .text h3 {
  font-size: 15px;
  margin: 0;
  /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    font-weight: bold;

}

.container-second .first-box .text h1, .container-second .second-box .text h1{
  
  font-family:KyivType ;
  font-size: 40px;
  font-weight: 500;
  margin: 0;

}


/* ----------- footer ---- */

.bottom-footer{
  /* background-color: #000000; */
  /* margin-top: 10%; */
  /* height: 350px; */
  /* width: 100vw; */
  display:  flex;
  overflow-y: hidden;
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  color: #ffffff;
  /* background-color: #000000; */

}

.bottom-footer .footer-col1{
  flex: 3;
  /* background-color: red; */

}

.footer-col1 p{
  /* padding: 8px 25%; */



}
/* ...... */

.bottom-footer .footer-col2{
  flex: 1;
  /* background-color: green; */


}


.bottom-footer .footer-col2 ul, .bottom-footer .footer-col3 ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  margin: 0;
}
.bottom-footer .footer-col2 ul li , .bottom-footer .footer-col3 ul li {


  /* padding: 8px 16px; */
  padding: 10px;

  width: 100%;
  /* background-color: #dddddd; */
  justify-content: space-around;
}
.bottom-footer .footer-col2  .list-head, .bottom-footer .footer-col3  .list-head{
  font-family:KyivType ;
  font-weight: 500;
  font-size: 2vh;

}

/* ............ */

.bottom-footer .footer-col3{
  flex: 1;
  /* background-color: blue; */

   

}

